.colourpicker-window {
  box-shadow: 0px 6px 24px rgba(0,0,0,0.3);
  padding: 24px;
  border-radius: 2px;
  line-height: 1;
  transition: all .2s;
  font-size: 0;
  z-index: 2;
  background-color: var(--card);
}
.colourpicker-input {
  display: block;
  border: none;
  padding: 0;
  width: 127px;
  font-size: 16px;
  height: 16px;
  margin-bottom: 12px;
  background: none;
  color: inherit;
}
.colourpicker-svslider {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 2px;
}
.colourpicker-svindicator {
  border: 1px solid white;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-left: -3px;
  margin-top: -3px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3), inset 0 0 3px rgba(0,0,0,0.3);
}
.colourpicker-hueslider {
  width: 15px;
  height: 100px;
  display: inline-block;
  border-radius: 2px;
}
.colourpicker-hueindicator {
  border: 1px solid white;
  border-width: 1px 0;
  margin-top: -1px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
