.datepicker-wrapper {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50vh;
  width: 210px;
  box-shadow: 0px 6px 24px rgba(0,0,0,0.3);
  padding: 24px;
  border-radius: 2px;
  line-height: 1;
  padding-top: 64px;
  transition: all .2s;
  z-index: 2;
  background-color: var(--card);
}
.datepicker-wrapper.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
}
.datepicker-dayheadings {
  background-color: inherit;
  padding: 24px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 20px;
  height: 64px;
  box-shadow: inset 0 -1px 0 var(--light-border);
}
.datepicker-days {
  padding-top: 20px;
}
.datepicker-monthalt:not(.datepicker-selected) {
  background-color: var(--ripple-focus);
}
.datepicker-month {
  font-size: 50px;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 300;
  color: var(--ripple);
}
.datepicker-day {
  cursor: pointer;
  height: 14px;
  font-size: 14px;
  padding: 5px 0;
}
.datepicker-day.datepicker-selected {
  background-color: var(--theme);
  color: white;
}
.datepicker-day.datepicker-today:not(.datepicker-selected) {
  color: var(--theme);
}
.datepicker-day:not(.datepicker-today):not(.datepicker-selected):first-child,
.datepicker-day:not(.datepicker-today):not(.datepicker-selected):last-child {
  color: var(--disabled);
}
.datepicker-days::-webkit-scrollbar {
  display: none;
}
