.datepicker-wrapper {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 250px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  line-height: 1;
  transition: all 0.2s;
  z-index: 20;
  background-color: var(--card);
}
.datepicker-wrapper.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
}
.datepicker-dayheadings {
  flex: none;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  padding-top: 4px;
  box-sizing: border-box;
  font-size: 20px;
  border-bottom: 1px solid var(--light-border);
}
.datepicker-dayheading {
  flex: 1 0 0;
  text-align: center;
}
.datepicker-days {
  flex: auto;
  height: 0;
  padding: 20px 24px;
  box-sizing: border-box;
  overflow: auto;
}
.datepicker-has-month {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.datepicker-has-month:first-child {
  padding-top: 0;
}
.datepicker-month {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.datepicker-week {
  display: flex;
  position: relative;
  height: 24px;
}
.datepicker-day {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 0;
  flex: 1 0 0;
  text-align: center;
}
.datepicker-day.datepicker-selected {
  background-color: var(--theme);
  color: white;
  border-radius: 50px;
}
.datepicker-day.datepicker-today:not(.datepicker-selected) {
  color: var(--theme);
}
.there-is-no-school {
  color: var(--disabled);
}
.datepicker-days::-webkit-scrollbar {
  display: none;
}
.datepicker-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--light-border);
}
.datepicker-school-year-left {
  font-size: 12px;
  color: var(--secondary);
  margin-bottom: 0;
  text-align: center;
}
