/* MAIN */
* {
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  transition: all .2s;
}
body.light {
  background-color: #fafafa;
  color: rgba(0,0,0,0.87);
}
body.dark {
  background-color: #303030;
  color: white;
}
label {
  font-size: 14px;
}
.center {
  text-align: center;
}
a {
  color: #FF594C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button, select, textarea, input {
  font: inherit;
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* SECTIONS */
.section {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.section h1 {
  font-size: 20px;
  font-weight: normal;
}
.section p {
  font-size: 14px;
}
.footer-utilities .section.utilities {
  display: block;
}
.footer-clubs .section.clubs {
  display: block;
}
.footer-schedule .section.schedule {
  display: block;
}
.footer-staff .section.staff {
  display: block;
}
.footer-options .section.options {
  display: block;
}

/* BOTTOM NAV */
#footer {
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all .2s;
}
body.light #footer {
  background-color: #f5f5f5;
}
body.dark #footer {
  background-color: #212121;
}
#footer ul {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  height: 56px;
}
#footer ul li {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  flex: auto;
  text-align: center;
  padding-top: 8px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .2s;
  -webkit-user-select: none;
  user-select: none;
}
body.light #footer ul li {
  color: rgba(0,0,0,0.54);
}
body.dark #footer ul li {
  color: rgba(255,255,255,0.7);
}
body #footer ul li.active {
  color: #FF594C;
  padding-top: 6px;
}
#footer ul li i {
  font-size: 24px;
}
#footer ul li span {
  display: block;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  white-space: nowrap;
  transition: font-size .2s;
}
#footer ul li.active span {
  font-size: 14px;
}

/* WEEK PREVIEW */
#weekwrapper {
  display: table;
  margin: 0 auto;
  text-align: center;
}
#weekwrapper div {
  display: inline-block;
  width: 30px;
  box-sizing: border-box;
  padding: 0 2px;
}
#weekwrapper div.today {
  width: 40px;
}
#weekwrapper h1 {
  display: inline;
}
#weekwrapper div.today h1 {
  font-weight: bold;
}
#weekwrapper span {
  display: block;
  width: 100%;
  height: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  margin: 4px 0;
}

/* CURRENT SECOND */
#seconds {
  font-size: 50px;
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 15px;
  line-height: 60px;
  text-align: center;
  position: relative;
}
#seconds::after {
  content: '';
  background-color: #f44336;
  width: 1px;
  height: 40%;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: var(--rotation);
  transform-origin: bottom;
  z-index: -1;
  transition: transform .2s cubic-bezier(0,1.4,1,1.23);
}
#seconds.notransition::after {
  transition: none;
}
body.light #seconds {
  border-color: rgba(0,0,0,0.12);
}
body.dark #seconds {
  border-color: rgba(255,255,255,0.12);
}
.notmaterial-input {
  border: none;
  background: none;
  color: inherit;
  font-size: 14px;
  margin: 0 15px;
  vertical-align: top;
  padding: 5px 10px;
  border-radius: 5px;
}
body.light .notmaterial-input {
  background-color: rgba(0,0,0,0.12);
}
body.dark .notmaterial-input {
  background-color: rgba(255,255,255,0.12);
}
