/* MAIN */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  transition: all .2s;
  animation: fade-in .66s;
}
@keyframes fade-in {
  0% {opacity: 0;}
  25% {opacity: 0;}
  100% {opacity:1;}
}
body.light {
  background-color: #fafafa;
  color: rgba(0,0,0,0.87);
}
body.dark {
  background-color: #303030;
  color: white;
}
label {
  font-size: 14px;
}
.center {
  text-align: center;
}
a {
  color: #FF594C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: none;
  border-top: 1px solid CurrentColor;
  opacity: 0.2;
  width: 150px;
  margin-left: 0;
}
button, select, textarea, input {
  font: inherit;
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  width: 24px;
  overflow: hidden;
}

/* SECTIONS */
.section {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 56px;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.section h1 {
  font-size: 20px;
  font-weight: normal;
}
.section h2 {
  font-size: 16px;
  font-weight: normal;
}
.section p {
  font-size: 14px;
}
.footer-utilities .section.utilities {
  display: block;
}
.footer-clubs .section.clubs {
  display: block;
}
.footer-schedule .section.schedule {
  display: block;
}
.footer-staff .section.staff {
  display: block;
}
.footer-options .section.options {
  display: block;
}

/* BOTTOM NAV */
#footer {
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all .2s;
}
body.light #footer {
  background-color: #f5f5f5;
}
body.dark #footer {
  background-color: #212121;
}
#footer ul {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  height: 56px;
}
#footer ul li {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  flex: 1 0 0;
  text-align: center;
  padding-top: 8px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .2s;
  -webkit-user-select: none;
  user-select: none;
}
body.light #footer ul li {
  color: rgba(0,0,0,0.54);
}
body.dark #footer ul li {
  color: rgba(255,255,255,0.7);
}
body #footer ul li.active {
  color: #FF594C;
  padding-top: 6px;
}
#footer ul li i {
  font-size: 24px;
}
#footer ul li span {
  display: block;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  white-space: nowrap;
  transition: font-size .2s;
}
#footer ul li.active span {
  font-size: 14px;
}

/* WEEK PREVIEW */
#weekwrapper {
  display: table;
  margin: 0 auto;
  text-align: center;
}
#weekwrapper div {
  display: inline-block;
  width: 30px;
  box-sizing: border-box;
  padding: 0 2px;
}
#weekwrapper div.today {
  width: 40px;
}
#weekwrapper h1 {
  display: inline;
}
#weekwrapper div.today h1 {
  font-weight: bold;
}
#weekwrapper span {
  display: block;
  width: 100%;
  height: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  margin: 4px 0;
}

/* CURRENT SECOND */
#seconds {
  font-size: 50px;
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 15px;
  line-height: 60px;
  text-align: center;
  position: relative;
}
#seconds::after {
  content: '';
  background-color: #f44336;
  width: 1px;
  height: 40%;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: var(--rotation);
  transform-origin: bottom;
  z-index: -1;
  transition: transform .2s cubic-bezier(0,1.4,1,1.23);
}
#seconds.notransition::after {
  transition: none;
}
body.light #seconds {
  border-color: rgba(0,0,0,0.12);
}
body.dark #seconds {
  border-color: rgba(255,255,255,0.12);
}
.notmaterial-input {
  border: none;
  background: none;
  color: inherit;
  font-size: 14px;
  margin: 0 15px;
  vertical-align: top;
  padding: 5px 10px;
  border-radius: 5px;
}
body.light .notmaterial-input {
  background-color: rgba(0,0,0,0.12);
}
body.dark .notmaterial-input {
  background-color: rgba(255,255,255,0.12);
}
#barcode {
  margin: 0;
  padding: 0;
  list-style: none;
}
#barcode li:not(.center) {
  display: flex;
  margin-bottom: 10px;
}
#barcode .canvas {
  flex: auto;
  position: relative;
}
#barcode canvas {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 102px;
  width: 100%;
  border-radius: 5px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
#barcode canvas.viewbarcode {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 40px;
  padding: calc(50vh - 20px) calc(50vw - 160px);
  box-sizing: content-box;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
}
@media (orientation: portrait) {
  #barcode canvas.viewbarcode {
    padding: calc(50vw - 20px) calc(50vh - 160px);
    transform: translateX(100vw) rotate(90deg);
    transform-origin: 0 0;
  }
}
#barcode input {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: none;
  background: none;
  padding: 0;
  text-align: center;
  font-family: monospace;
  color: transparent;
  cursor: pointer;
  margin: 20px;
}
#barcode input:focus {
  color: black;
  cursor: text;
  background-color: rgba(255,255,255,0.8);
}
#barcode div {
  font-size: 0;
}
#barcode div button {
  display: block;
  margin: 10px;
}

#mapimage {
  max-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
body.dark #mapimage {
  -webkit-filter: hue-rotate(180deg) invert(1);
  filter: hue-rotate(180deg) invert(1);
}
.zoom-rotate {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  pointer-events: none;
  box-shadow: 0 6px 24px rgba(0,0,0,0.3);
  position: fixed;
  margin-left: -25px;
  margin-top: -25px;
}
body.light .zoom-rotate {
  background-color: #ffffff;
}
body.dark .zoom-rotate {
  background-color: #424242;
}
.zoom-dial {
  background-color: #f44336;
  position: absolute;
  top: 5px;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
}
#mapgoogle {
  height: calc(100vh - 96px);
}

.lists-enabled {
  display: none;
}
.block-of-text, #psadialog>.content {
  line-height: 1.8;
}
.block-of-text p, #psadialog>.content p {
  margin: 0.5em 0;
}
.percent-wrapper {
  display: inline-block;
  font-family: monospace;
  font-size: 14px;
  background-color: rgba(255,255,255,0.12);
  padding: 5px 10px;
  border-radius: 5px;
}
body.light .percent-wrapper {
  background-color: rgba(0,0,0,0.12);
}
.percent-wrapper input {
  width: 6ch;
  text-align: right;
  padding: 0;
  border: 0;
  color: inherit;
  background: none;
  text-overflow: ellipsis;
}

#ugwa-ga {
  position: relative;
  background-color: #f44336;
  padding-right: 80.67px;
}
#ugwa-ga-ok {
  position: absolute;
  right: 24px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@media (max-width: 360px) {

  #ugwa-ga {
    padding-right: 24px;
    text-align: center;
    padding-bottom: 4px;
  }

  #ugwa-ga-ok {
    position: relative;
    right: 0;
  }

}
