:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.label {
  font-size: 12px;
  color: var(--secondary);
}
.ripple {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  margin-top: -10px;
  transform: scale(0);
  pointer-events: none;
  border-radius: 50%;
  /*z-index: -1;*/
  background-color: var(--ripple);
}
.ripple.ripple-focus {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  animation: pulse 1s ease-in-out infinite alternate;
  background-color: var(--ripple-focus);
}
@keyframes pulse {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(0.95);
  }
}
.material {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 36px;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: bold;
  padding: 11px 16px;
  vertical-align: bottom;
  color: var(--colour);
  margin: 0;
}
a.material:hover,
.tab-focus a.material:focus {
  text-decoration: none;
}
.material.icon {
  width: 36px;
  padding: 0;
  border-radius: 50%;
  font-size: 0;
  line-height: normal;
}
.material.red {
  color: var(--theme);
}
.material.raised {
  background-color: var(--theme);
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.tab-focus .material:focus {
  box-shadow: 0 0 0 5px var(--focus);
}
.schedule-container .material {
  transition: background-color 0.2s;
}
.schedule-container .material:hover {
  background-color: var(--ripple);
}
.material-switch {
  display: inline-block;
  margin: 0;
  height: 14px;
  width: 36px;
  border-radius: 7px;
  margin: 0 15px;
  vertical-align: bottom;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  background-color: var(--off-switch-back);
}
.material-switch.checked {
  background-color: var(--active-back);
}
.material-switch::before,
.range-knob::before {
  content: '';
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 12px;
  width: 12px;
  margin: 1px;
  border-radius: 50%;
  transition: all 0.2s;
  left: 0;
  background-color: var(--pure-contrast);
}
.material-switch:focus::before,
.range-knob.range-controlled::before {
  opacity: 0.1;
  transform: scale(4);
}
.material-switch.checked::before {
  background-color: var(--theme);
  left: calc(100% - 14px);
}
.material-switch::after {
  content: '';
  display: block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--off-switch-other-thing);
}
.material-switch.checked::after {
  background-color: var(--theme);
  left: calc(100% - 20px);
  margin-left: 3px;
}
.radio-wrapper,
.radio-wrapper * {
  cursor: pointer;
}
.material-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 16px;
  width: 16px;
  margin: 0;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  margin-right: 15px;
  transition: all 0.2s;
  border-color: var(--secondary);
}
.material-radio::before,
.material-radio::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  transform: scale(0);
  background: var(--theme);
  top: 2px;
  left: 2px;
  transition: all 0.2s;
  pointer-events: none;
  border-radius: 50%;
}
.material-radio::before {
  opacity: 0;
  top: 1px;
  left: 1px;
  height: 10px;
  width: 10px;
}
.material-radio:checked {
  border-color: var(--theme);
}
.material-radio:checked::after {
  transform: scale(1);
}
.material-radio:focus::before {
  transform: scale(4);
  opacity: 0.1;
}
.is-joke {
  overflow: hidden;
  margin: 0;
  max-height: 0;
  transition: all 0.2s;
}
.radios-wrapper:hover .is-joke {
  margin: 1em 0;
  max-height: 17px;
}
.joke-explanation {
  margin-left: 5px;
  opacity: 0;
  transition: all 0.2s;
}
.is-joke:hover .joke-explanation {
  margin-left: 15px;
  opacity: 0.5;
}
ul.material-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 8px 0;
  margin-left: -20px;
  margin-right: -20px;
}
ul.material-list li {
  display: inline-block;
  width: 100%;
  padding: 20px 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  font-size: 14px;
}
.tab-focus ul.material-list li:focus {
  background-color: var(--focus);
}
ul.material-list.clickables li {
  cursor: pointer;
}
ul.material-list.two-line li {
  min-height: 72px;
}
ul.material-list.three-line li {
  min-height: 88px;
}
@media (min-width: 540px) {
  ul.material-list.short li {
    width: 50%;
  }
}
@media (min-width: 710px) {
  ul.material-list.short li {
    width: calc(100% / 3);
  }
}
@media (min-width: 900px) {
  ul.material-list.short li {
    width: 25%;
  }
}
ul.material-list span {
  display: block;
}
ul.material-list span.primary {
  font-size: 16px;
}
ul.material-list span.secondary,
ul.material-list li.error,
body.light .get-error {
  color: var(--secondary);
}
ul.material-list li.error,
.get-error {
  width: 100%;
  font-size: 14px;
  cursor: default;
  text-align: center;
  min-height: auto;
}
.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.32);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.show-scrim {
  opacity: 1;
  pointer-events: all;
}
.material-dialog {
  position: fixed;
  box-sizing: border-box;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 500px;
  height: 50vh;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.3);
  padding: 24px;
  border-radius: 2px;
  padding-top: 64px;
  padding-bottom: 52px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all 0.2s;
  z-index: 20;
}
.material-dialog.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.material-dialog,
.material-card {
  background-color: var(--card);
}
.material-dialog > h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 24px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 var(--light-border);
}
.material-dialog > .content {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  overflow: auto;
  line-height: 1.4;
}
.material-dialog > .buttons {
  height: 52px;
  box-sizing: border-box;
  padding: 8px 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  box-shadow: inset 0 1px 0 var(--light-border);
}
.material-card {
  position: relative;
  margin: 14px 0;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  overflow: auto;
}

.material-dropdown {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 5px;
}
.tab-focus .material-dropdown :focus {
  box-shadow: 0 0 0 5px var(--focus);
}
.mdrop-selected {
  display: inline-flex;
  overflow: hidden;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--card);
}
.mdrop-arrow {
  margin: 0 12px;
}
.mdrop-values {
  position: absolute;
  top: 100%;
  margin-top: -5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all 0.2s;
  z-index: 20;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--card);
  padding: 8px 0;
  white-space: nowrap;
}
.mdrop-values.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.mdrop-value {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.material-range {
  position: relative;
  height: 24px;
  width: 120px;
}
.material-range.disabled {
  pointer-events: none;
  overflow: hidden;
}
.material-range::before,
.material-range::after,
.range-selected {
  content: '';
  position: absolute;
  height: 2px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: var(--active-back);
}
.material-range::before {
  left: 0;
  width: var(--min);
}
.material-range::after {
  right: 0;
  width: var(--max);
}
.range-knob {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto -6px;
  border-radius: 50%;
  background-color: var(--theme);
}
.range-min,
.range-selected {
  left: var(--min);
}
.range-max,
.range-selected {
  right: var(--max);
}
.range-knob::before {
  margin: 0;
  background-color: var(--theme);
}
.range-selected {
  background-color: var(--theme);
}
.material-range.disabled::before,
.material-range.disabled::after {
  background-color: var(--fill);
}
.material-range.disabled .range-knob,
.material-range.disabled .range-selected {
  background-color: var(--disabled);
}
.material-range.disabled::before {
  margin-left: -9px;
}
.material-range.disabled::after {
  margin-right: -9px;
}
.material-range.disabled .range-selected {
  margin: auto 9px;
}
