div.ripple {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  margin-top: -10px;
  transform: scale(0);
  pointer-events: none;
  border-radius: 50%;
  /*z-index: -1;*/
}
div.ripple.ripple-focus {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1);
  animation: pulse 1s ease-in-out infinite alternate;
}
@keyframes pulse {
  from {transform: scale(1.05);}
  to {transform: scale(0.95);}
}
body.light div.ripple:not(.ripple-light), body div.ripple.ripple-dark {
  background-color: rgba(0,0,0,0.2);
}
body.dark div.ripple:not(.ripple-dark), body div.ripple.ripple-light {
  background-color: rgba(255,255,255,0.3);
}
body.light div.ripple.ripple-focus:not(.ripple-light), body div.ripple.ripple-dark.ripple-focus {
  background-color: rgba(0,0,0,0.05);
}
body.dark div.ripple.ripple-focus:not(.ripple-dark), body div.ripple.ripple-light.ripple-focus {
  background-color: rgba(255,255,255,0.05);
}
button.material {
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 36px;
  border-radius: 2px;
  font-weight: bold;
  padding: 0 16px;
  vertical-align: bottom;
  color: #FF594C;
}
button.material.icon {
  width: 36px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
}
button.material.raised {
  background-color: #FF594C;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}
body.light button.material:not(.red):not(.raised) {
  color: rgba(0,0,0,0.87);
}
body.dark button.material:not(.red):not(.raised) {
  color: white;
}
.tab-focus button.material:focus {
  box-shadow: 0 0 0 5px rgba(255, 89, 76, 0.3);
}
.material-switch {
  display: inline-block;
  margin: 0;
  height: 14px;
  width: 36px;
  border-radius: 7px;
  margin: 0 15px;
  vertical-align: bottom;
  cursor: pointer;
  position: relative;
  transition: all .2s;
}
body.light .material-switch:not(.checked) {
  background-color: rgba(0,0,0,0.38);
}
body.dark .material-switch:not(.checked) {
  background-color: rgba(255,255,255,0.3);
}
.material-switch.checked {
  background-color: rgba(255,89,76,0.5);
}
.material-switch::before {
  content: '';
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 12px;
  width: 12px;
  margin: 1px;
  border-radius: 50%;
  transition: all .2s;
  left: 0;
}
.material-switch:focus::before {
  opacity: 0.1;
  transform: scale(4);
}
body.light .material-switch:not(.checked)::before {
  background-color: black;
}
body.dark .material-switch:not(.checked)::before {
  background-color: white;
}
.material-switch.checked::before {
  background-color: #FF594C;
  left: calc(100% - 14px);
}
.material-switch::after {
  content: '';
  display: block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
  left: 0;
  transition: all .2s;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
body.light .material-switch:not(.checked)::after {
  background-color: #FAFAFA;
}
body.dark .material-switch:not(.checked)::after {
  background-color: #BDBDBD;
}
.material-switch.checked::after {
  background-color: #FF594C;
  left: calc(100% - 20px);
  margin-left: 3px;
}
.radio-wrapper, .radio-wrapper * {
  cursor: pointer;
}
.material-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 16px;
  width: 16px;
  margin: 0;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  margin-right: 15px;
  transition: all .2s;
}
.material-radio::before, .material-radio::after {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  position: absolute;
  transform: scale(0);
  background: #FF594C;
  top: 2px;
  left: 2px;
  transition: all .2s;
  pointer-events: none;
  border-radius: 50%;
}
.material-radio::before {
  opacity: 0;
  top: 1px;
  left: 1px;
  height: 10px;
  width: 10px;
}
body.light .material-radio:not(:checked) {
  border-color: rgba(0,0,0,0.54);
}
body.dark .material-radio:not(:checked) {
  border-color: rgba(255,255,255,0.7);
}
.material-radio:checked {
  border-color: #FF594C;
}
.material-radio:checked::after {
  transform: scale(1);
}
.material-radio:focus::before {
  transform: scale(4);
  opacity: 0.1;
}
.is-joke {
  overflow: hidden;
  margin: 0;
  max-height: 0;
  transition: all .2s;
}
.radios-wrapper:hover .is-joke {
  margin: 1em 0;
  max-height: 17px;
}
.joke-explanation {
  margin-left: 5px;
  opacity: 0;
  transition: all .2s;
}
.is-joke:hover .joke-explanation {
  margin-left: 15px;
  opacity: 0.5;
}
ul.material-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 8px 0;
  margin-left: -20px;
  margin-right: -20px;
}
ul.material-list li {
  display: inline-block;
  width: 100%;
  padding: 20px 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.tab-focus ul.material-list li:focus {
  background-color: rgba(255, 89, 76, 0.2);
}
ul.material-list.clickables li {
  cursor: pointer;
}
ul.material-list.two-line li {
  min-height: 72px;
}
ul.material-list.three-line li {
  min-height: 88px;
}
@media (min-width: 540px) {
  ul.material-list.short li {
    width: 50%;
  }
}
@media (min-width: 710px) {
  ul.material-list.short li {
    width: calc(100% / 3);
  }
}
@media (min-width: 900px) {
  ul.material-list.short li {
    width: 25%;
  }
}
ul.material-list span {
  display: block;
}
ul.material-list span.primary {
  font-size: 16px;
}
ul.material-list span.secondary {
  font-size: 14px;
}
body.light ul.material-list span.secondary, body.light ul.material-list li.error, body.light .get-error {
  color: rgba(0,0,0,0.54);
}
body.dark ul.material-list span.secondary, body.dark ul.material-list li.error, body.dark .get-error {
  color: rgba(255,255,255,0.7);
}
ul.material-list li.error, .get-error {
  width: 100%;
  font-size: 14px;
  cursor: default;
  text-align: center;
  min-height: auto;
}
.material-dialog {
  position: fixed;
  box-sizing: border-box;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 500px;
  height: 50vh;
  box-shadow: 0px 6px 24px rgba(0,0,0,0.3);
  padding: 24px;
  border-radius: 2px;
  padding-top: 64px;
  padding-bottom: 52px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all .2s;
  z-index: 2;
}
.material-dialog.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
body.light .material-dialog, body.light .material-card {
  background-color: #FFFFFF;
}
body.dark .material-dialog, body.dark .material-card {
  background-color: #424242;
}
.material-dialog > h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 24px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
}
body.light .material-dialog > h1 {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
}
body.dark .material-dialog > h1 {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}
.material-dialog > .content {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  overflow: auto;
  line-height: 1.4;
}
.material-dialog > .buttons {
  height: 52px;
  box-sizing: border-box;
  padding: 8px 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
}
body.light .material-dialog > .buttons {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
}
body.dark .material-dialog > .buttons {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}
.material-card {
  margin: 14px 0;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  font-size: 14px;
  overflow: auto;
}
