# Built things
/index.html
*.min.js
/json/*.json

# Irrelevant folders and files
/cachetest/
/designs/
/games/
/touchy/*
!/touchy/rotate1.js
/js/languages/en-gt-core.js
/js/*.html
/js/datepicker2.js
/js/inputFitContent.js
/images/getpointtest.html
/campusMap.html
/colourtest.html
/datetest.html
/ios-add-to-home.html
/prev-chats.html
/psa.html
/ugwa.ga-simulator.html

# Gunn Schedule
/schedule/*
!/schedule/app.js
!/schedule/schedule.css

# Ugwita
/lite/
/lite-updater.html

# PSAs
/psa/1*.html
/psa/2019-*.html
/psa/2020-0*.html
!/psa/2020-08-*.html
!/psa/2020-09-*.html
/psa/psas.json
psa.html
