body {
  margin: 0;
}
body.light {
  background-color: #fafafa;
}
body.dark {
  background-color: #303030;
}
#footer {
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
body.light #footer {
  background-color: #f5f5f5;
}
body.dark #footer {
  background-color: #212121;
}
#footer ul {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  height: 40px;
}
#footer ul li {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  flex: auto;
  text-align: center;
}
#footer ul li .material-icons {
  font-size: 36px;
}
